/* 将滚动条隐藏 因使用webkit内核的方式兼容性不好 */
/*::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/
.user-contentBox{
    height: 100%;
    background: url("../image/pageBG/index-bg9.jpg");
    overflow: scroll;
    overflow-x: hidden;
}

.user-content {
    width: 1200px;
    background: rgba(252, 252, 252, 0.89);
    margin: 6px auto;
    padding: 40px;
}
.user-content *{
    color: #000000;
}
.g-iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.iframe-body {
    overflow: auto;
}
/**  个人信息  **/
.user-dataBox {
    height: 220px;
    margin-bottom: 40px;
}
.user-dataBox dt {
    margin-right: 100px;
    border: 6px double #ffb801;
}
.user-dataBox dd {
    width: 670px;
}
.name-sex {
    font-size: 24px;
    height: 50px;
    border-bottom: 2px solid #a7a7a7;
}
.name-sex #sex img{
    width: 20px;
}



.user-data .fst {
    padding-left: 0;
    border-left: none;
}
.user-data li{
    height: 60px;
    margin-top: 10px;
    padding: 0 25px 0 20px;
    border-left: 1px solid #dddddd;
    text-align: center;
}
.user-info {
    font-size: 12px;
}
.userPage-title h2 {
    /*font-size: 20px;*/
    line-height: 28px;
    float: left;
}
.userPage-title h5{
    float: left;
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 26px;
    font-weight: 400;
    color: #666;
}
.userPage-title {
    margin-top: 50px;
    border-bottom: 2px solid #008eff;
    height: 35px;
}
.song-rankList {
    border: 1px solid #e2e2e2;
    border-top: none;

}
.song-rankList li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.even {
    background-color: rgba(144, 222, 253, 0.2);
}
.song-rankList img {
    height: 26px;
}
.num {
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 8px;
    width: 46px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color: #666;
}
.song-rankList-play {
    float: right;
    display: inline;
    margin-top: 8px;
}
.hd {
    float: left;
    width: 72px;
    height: 38px;
    overflow: hidden;
}
.song {
    float: left;
    position: relative;
    z-index: 1;
    zoom: 1;
    padding-left: 50px;
    width: 480px;
    height: 38px;
    overflow: hidden;
}
.tops {
    float: right;
    position: relative;
    z-index: 1;
    zoom: 1;
    width: 319px;
    height: 38px;
    line-height: 38px;
}
.tops span {
    position: absolute;
    left: 10px;
    z-index: 1;
    height: 38px;
    line-height: 38px;
    color: #666;
}
.playlist-ul {
    margin: 20px 0 0 -50px;
}
.playlist-ul li {
    height: 165px;
    float: left;
    display: inline-block;
    width: 140px;
    margin: 0 0 30px 50px;
    overflow: hidden;
}

.u-cover {
    width: 140px;
    height: 140px;
    position: relative;
    display: block;
    border: 2px solid #008eff;
}
.plays {
    font-size: 14px;
    color: #dddddd;
}
.u-cover img {
    width: 136px;
    height: 136px;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background: rgba(0, 0, 0, .3) 0 -537px;
    color: #ccc;
}

